:root {
  /* Light mode colors */
  --background-color: #fbfafa;
  --text-color: #000000;
  --link-color: #4d61ea;
  --btn-background-color: #4d61ea;
  --btn-hover-background-color: #357ab7;
  --navbar-background-color: #343a40;
  --navbar-text-color: #fff;
  --navbar-link-color: #bbb;
  --navbar-link-hover-color: #fff;
  --navbar-bg: #4d61ea;
  --primary-text-color: #000000;
  --secondary-text-color: #4d61ea;
  --section-bg: #fbfafa;

  /* Dark mode colors */
  --background-color-dark: #1a1a1a;
  --text-color-dark: #f1f1f1;
  --link-color-dark: #c1c1c1;
  --btn-background-color-dark: #4d61ea;
  --btn-hover-background-color-dark: #6200ea;
  --navbar-background-color-dark: #1f1f1f;
  --navbar-text-color-dark: #e0e0e0;
  --navbar-link-color-dark: #bbb;
  --navbar-link-hover-color-dark: #fff;
  --navbar-bg-dark: #222222;
  --primary-text-color-dark: #ffffff;
  --secondary-text-color-dark: #c1c1c1;
  --section-bg-dark: #2a2a2a;
}

/* Light mode */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--navbar-background-color);
}

.navbar-brand {
  font-size: 1.25rem;
  color: var(--navbar-text-color) !important;
}

.nav-link {
  color: var(--navbar-link-color) !important;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--navbar-link-hover-color) !important;
}

.main-content {
  margin-top: 70px; /* Adjust this value to the height of your navbar */
  padding: 20px;
}


p {
  color: var(--link-color);
  font-size: 1.1rem;
  text-align: center;
}

.about-section {
  background-color: var(--background-color);
  color: var(--text-color); 
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
}

.about-section h2 {
  color: var(--text-color);
  font-size: 1.8rem;
}

.about-section p {
  color: var(--link-color);
}

.btn {
  display: block;
  width: 500px;
  max-width: 90%; /* Updated for responsiveness */
  margin: 15px auto;
  padding: 15px;
  background-color: var(--btn-background-color);
  color: #fff;
  text-align: center;
  border-radius: 8px;
  font-size: 1.2rem;
  transition: background-color 0.3s, transform 0.3s;
}

.btn2 {
  display: block;
  width: 900px;
  max-width: 90%; /* Updated for responsiveness */
  margin: 15px auto;
  padding: 15px;
  background-color: var(--btn-background-color);
  color: #fff;
  text-align: center;
  border-radius: 8px;
  font-size: 1.2rem;
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--btn-hover-background-color);
  transform: scale(1.05);
}

.btn2:hover {
  background-color: var(--btn-hover-background-color);
  transform: scale(1.05);
}

.btn i {
  margin-right: 10px;
}

.btn2 i {
  margin-right: 10px;
}

.container-xxl {
  max-width: 1140px;
  margin: auto;
}

img {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

@media (max-width: 767px) {
  .btn {
    width: 90%; 
    font-size: 1rem; 
  }
  .btn2 {
    width: 90%;
    font-size: 1rem;
  }
}

.content-container {
  margin-top: 50px; 
  padding: 20px;
}

.container {
  padding: 20px;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  body {
      font-size: 14px;
  }

  .container {
      padding: 10px;
  }

}

@media (max-width: 400px) {
  body {
      font-size: 12px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.text-container {
  width: 100%;
  padding: 10px;
}

.navbar-nav.ml-auto {
  margin-left: auto;
}

.navbar-nav.mr-auto {
  margin-right: auto;
}

/* Dark mode */
body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.navbar.dark-mode {
  background-color: var(--navbar-background-color-dark);
}

.navbar-brand.dark-mode {
  color: var(--navbar-text-color-dark) !important;
}

.nav-link.dark-mode {
  color: var(--navbar-link-color-dark) !important;
  transition: color 0.3s;
}

.nav-link.dark-mode:hover {
  color: var(--navbar-link-hover-color-dark) !important;
}

.main-content.dark-mode {
  margin-top: 70px; /* Adjust this value to the height of your navbar */
  padding: 20px;
}


p.dark-mode {
  color: var(--link-color-dark);
  font-size: 1.1rem;
  text-align: center;
}

.about-section.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark); 
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
}

.about-section.dark-mode h2 {
  color: var(--text-color-dark);
  font-size: 1.8rem;
}

.about-section.dark-mode p {
  color: var(--link-color-dark);
}

.btn.dark-mode {
  background-color: var(--btn-background-color-dark);
}

.btn2.dark-mode {
  background-color: var(--btn-background-color-dark);
}

.btn.dark-mode:hover {
  background-color: var(--btn-hover-background-color-dark);
}

.btn2.dark-mode:hover {
  background-color: var(--btn-hover-background-color-dark);
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar .container-xxl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.switch {
  display: flex;
  align-items: center;
}

.switch-text {
  margin-right: 10px;
  font-size: 1rem;
  color: #fff;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: transform 0.3s;
}

input:checked + .slider {
  background-color: #4d61ea;
}

input:checked + .slider::before {
  transform: translateX(26px);
}
